.page {
  height: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

/******************Блок HEADER START *******************/
.main-header {
  position: relative;
  width: 100%;
  /*height: auto;*/
  height: 100vh;
  padding: 0;
  min-height: 35rem;  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  /*background-attachment: scroll;*/
  background-size: cover;
}

.main-header h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";      
  font-size: 6.5rem;
  line-height: 6.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.01));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

/* .main-header h2 {
  max-width: 10rem;
  font-size: 1rem;
} */

/*@media (min-width: 768px) {
  .main-header h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}*/
/*@media (min-width: 992px) {
  .main-header {
    height: 100vh;
    padding: 0;
  }*/

/* .main-header h2 {
  max-width: 30rem;
  font-size: 1.25rem;
} */

/******************Блок HEADER END *******************/

/******************Блок КОНТАКТЫ START *******************/

.contact-section {
  padding-top: 10px;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.mb-md-0 {
  margin-bottom: 0;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.text-primary {
  color: #64a19d;
}

a.text-primary:hover, a.text-primary:focus {
  color: #467370;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.m-0 {
  margin: 0;
}

.footer-info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  color:white;
  background-color: rgba(0, 0, 0, 0.9);
  height: 3rem;
}

.text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.text-blue {
  color: rgba(0, 110, 255);
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.contact-block {  
  display: flex;
  justify-content:center;    
}

.feedback-link {
  color: blue;
  text-align: center;
  padding-top: 10px;
}

.address {
  padding-top: 20px; 
}

.contact1-section,   
.contact2-section,
.contact3-section {
  display: flex;
  flex-direction: column;  
  margin-top: 50px;
  width: 300px;
  height: 210px;
  background-color: rgba(230,230,230,0.9);      
  border-bottom: solid 4px rgba(110,200,150);
  border-radius: 25px;
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.2));
  line-height: 3px;
}

.contacts-phone {
  color: black;
  text-align: center;
  padding-top: 10px;
}

.switcher-languagers {
  display: grid;
  grid-template-columns: 65px 65px;
  justify-content: end;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  text-align: right;
  padding-right: 20px;  
  padding-top: 5px;    
  opacity: 0.8;
}

.switcher-languagers .ukraine:hover {   
  /* opacity: 1; */
  color: blue;  
}

.switcher-languagers .english:hover {     
  color: violet;    
}

.contact1-section img,
.contact2-section img,    
.contact3-section img {
  padding-top: 20px;
}

.contact3-section img {
  padding-top: 10px;
}
.contact2-section {
  margin-left: 50px;
  margin-right: 50px;
}

.contact2-section img,
.contact1-section img,
.contact3-section img,
.contact1-section p,
.contact2-section p,
.contact3-section p{
  margin-right: auto;
  margin-left: auto;
}

.contact-img {
  width: 30px;  
}

.contact-line {
  width: 80px;
  height: 5px;
  background-color: rgba(110,200,150);     
}
/******************Блок КОНТАКТЫ END *******************/


 /******************Блок МЕНЮ START *******************/
a {
  color: #FFF; 
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;  
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.header-title-info {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 200px;
  font-size: 30px;
  max-width: 40rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.my-0 {
  margin-top: -100px;
  margin-bottom: 50px;
}

nav {
  background-color: rgba(60,75,99,1);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
  
nav ul li {
  display:inline-block;
  background-color:rgba(60,75,99,1);
}

nav a {
  display:block;
  padding:0 10px; 
  color:#FFF;
  font-size:20px;
  line-height: 45px;
  text-decoration:none;
}

nav a:hover { 
  background-color:rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.70);
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute; 
  top: 40px; /* the height of the main nav если Больше появляется отступ и не работает */
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
  z-index: 1;  
}
  
/* Ширина выпадающего меню */
nav ul ul li {
  /*max-width: 20rem;*/
  float: none;
  display:list-item;
  position: relative;  
}

.header-nav-list {
  /* margin-left: 11rem; */
  /* margin-right: auto;
  margin-left: auto; */
  /* text-align: center; */
}

.header-nav-list-our,
.header-nav-list-ceramic,
.header-nav-list-decorative {
  margin-left: 6rem;
}


/* Change this in order to change the Dropdown symbol */
/*li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }*/


/******************Блок МЕНЮ END *******************/

/******************Блок Our Development START *******************/
.our-block {
  display: flex;
  justify-content: space-between;
}

.our-info {
  background-color: rgba(10,30,30);    
  border-bottom: solid 4px rgba(110,200,150);
  border-radius: 25px;
  line-height: 3px;
  color: white;
  font-family: "Courier New", Arial, sans-serif;  
}

.our-block-img {
  border-radius: 10px;
}

.our-block h4 {
  margin-top: 170px;
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(155, 155, 155, 0.01));
}

.our-info2 {
  font-size: 22px;
  line-height: 34px;  
  text-align: center;
  font-family: "Courier New", Arial, sans-serif;
  margin-left: 15px;
  margin-right: 10px;
}

.our-dev {
  background-color: #DDD7D7;
  background-size: 50px 50px;
  background-image: 
  linear-gradient(-45deg, transparent 52%, rgba(255,255,255,0.9) 54%, transparent 55%, transparent),
  linear-gradient(45deg, transparent 52%, rgba(255,255,255,0.6) 54%, transparent 55%, transparent),
  linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.1) 52%, transparent 53%, transparent),
  linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.05) 52%, transparent 53%, transparent);  
}

/******************Блок Our Development END *******************/


/******************Блок Ceramic Tile START *******************/
.our-info-ceramic {
  color: rgba(150,255,255);

}

.text-decorative {
  font-size: 18px;
  line-height: 14px;  
  text-align: left; 
  margin-left: 20px;
}

.decorative-info {
  font-size: 22px;  
  text-align: center;
  line-height: 28px;  
}

.ceramic {
  background-color: white;
  background-image: 
  linear-gradient(white 25%, transparent 25%), 
  linear-gradient(90deg, white 25%, transparent 25%), 
  linear-gradient(transparent 75%, #d4d3d8 75%), 
  linear-gradient(90deg, transparent 75%, #eff0ea 75%), 
  linear-gradient(#eff0ea 50%, transparent 50%), 
  linear-gradient(90deg, #d4d3d8 50%, transparent 50%);
  background-size: 20px 20px;
}
/******************Блок Ceramic Tile END *******************/


/******************Блок Decorative Brick START *******************/
.decorative-tile-info {
  color: rgba(210,10,120);
}

.footer-info-decorative {
  margin-top: 50px;
}

.decorative {
  background: 
  radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, white 30%, white 40%, transparent 90%), 
  radial-gradient(ellipse farthest-corner at 0 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), linear-gradient(40deg, #AC394A 0%, #DC625F 30%, #EB7D5C 50%, #DC625F 70%, #AC394A 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}
/******************Блок Decorative Brick END *******************/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}



/*background-color: #EEE2DB;
background-image:
linear-gradient(45deg,#ECD9D3 25%, transparent 25%, transparent 75%, #EBC4B8 75%),
linear-gradient(-45deg,#ECA797 25%, transparent 25%, transparent 75%, #E98A74 75%);
background-position: 0 0, 1em 1em;
background-size: 2em 2em, 2em 2em;
}*/

/*background: 
radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, white 30%, white 40%, transparent 90%), 
radial-gradient(ellipse farthest-corner at 0 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), 
radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), linear-gradient(40deg, #AC394A 0%, #DC625F 30%, #EB7D5C 50%, #DC625F 70%, #AC394A 100%);
background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;*/

/*background: 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px -37px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 111px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px;
background-size: 148px 148px;
background-color: #E8F4F2;*/