/* fonts*/
/* Cuprum normal */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}

/* Cuprum bold */
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}

/* cuprum italic */
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}

/* Pt Sans normal */
@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}

/* Pt Sans bold */
@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}

.page {
  height: 100%;
}

.page-body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  min-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;  
}

/******************Блок HEADER START *******************/
.main-header {
  position: relative;
  width: 100%;  
  height: 100vh;
  padding: 0;
  min-height: 35rem;  
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;  
  background-size: cover;
}

.main-header h1 {
 font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";      
  font-size: 6.5rem;
  line-height: 6.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.01));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}

.info-block-size {
  width: 550px;
  height: 200px;
}

.nav-align {
  display: flex;
  justify-content: center;
}

.cig {
  border-radius: 5px;  
}
/******************Блок HEADER END *******************/
                 
                 /******************Блок SLIDER START *****red*************/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;  
}

.slider {
  position: relative;
  overflow: hidden;
  padding-top: 75px;
}

.patent {
  position: relative;
  overflow: hidden;
  padding-top: 25px;
}

.slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}

.slider__item {
  margin-top: 30px;
  flex: 0 0 100%;
  max-width: 100%;
}

.slider__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

.patent__item {
  margin-top: 0px;
  flex: 0 0 100%;
  max-width: 100%;
}

.patent__item>div {
  line-height: 250px;
  font-size: 100px;
  text-align: center;
}

.slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, .5);
}

.slider__control_show {
  display: flex;
}

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .9;
}

.slider__control_left {
  left: 0;
}

.slider__control_right {
  right: 0;
}

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}

.slider__control_left::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_right::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
                 /******************Блок SLIDER END *******************/

/******************Блок КОНТАКТЫ START *******************/

.contact-section {
  padding-top: 10px;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}

.contact-section .invest-text {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

.col-md-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  position: relative;
  width: 100%;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.mb-md-0 {
  margin-bottom: 0;
}

.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

.text-primary {
  color: #64a19d;
}

a.text-primary:hover, a.text-primary:focus {
  color: #467370;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.m-0 {
  margin: 0;
}

.decorative-footer-info,
.footer-info-slider,
.footer-info {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 400;
  color:white;    
  background-color: rgba(0, 0, 0, 0.9);
  height: 3rem;
}

.footer-info-main {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  font-size: 18px;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.9);
  height: 3rem;
} 

.div-offset {
  padding-top: 10px;
}

.invest-text {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: normal;
  color:#aa33ff;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

 /* ****************************** Разные offset-ы  START**************************** */
.our_development-offset,
.decorative-brick-offset {
  padding-top: 53px;
}

.footer-info-ceramic {
  margin-top: 163px;
}

.ceramic-tile-offset {
  padding-top: 105px;
}

.footer-info-offset {
  margin-top: 100px;
}

.decorative-offset {
  padding-top: 70px;
}

.slider-offset {
  margin-top: 138px; 
}

.our-footer-offset {
 margin-top: 73px;  
}

.patent-offset {
 margin-top: 58px; 
}

/* ****************************** Разные offset-ы  END**************************** */

.text-black-50 {
  color: rgba(0, 0, 0, 0.5);
}

.text-blue {
  color: rgba(0, 110, 255);
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.justify-content-center {
  justify-content: center;
}

.contact-block {  
  display: flex;
  justify-content:center;    
}

.feedback-link {
  color: blue;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

.address {
  padding-top: 20px; 
}

.contact1-section,   
.contact2-section,
.contact3-section {
  display: flex;
  flex-direction: column;  
  margin-top: 10px;
  margin-bottom: 30px;
  width: 300px;
  height: 210px;
  background-color: rgba(230,230,230,0.9);      
  border-bottom: solid 4px rgba(110,200,150);
  border-radius: 25px;
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.2));
  line-height: 3px;
  color: black;
}

.contacts-phone {
  color: black;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;
}

  /* **********************************Переключатели языков START************************************** */

.switcher-languagers-our,
.switcher-languagers-decorative,
.switcher-languagers-ceramic,
.switcher-languagers-slider,
.switcher-languagers {
  display: grid;
  grid-template-columns: 65px 65px;
  justify-content: end;
  font-family: "PT Sans", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;  
  padding-right: 20px;  
  padding-top: 5px;      
}

.switcher-languagers-ceramic a,
.switcher-languagers-decorative a, 
.switcher-languagers-our a,
.switcher-languagers-slider a {
  /* font-weight: bold; */
  color: black;
}

.switcher-languagers-our .ukr:hover,
.switcher-languagers-decorative .ukr:hover,
.switcher-languagers-ceramic .ukr:hover, 
.switcher-languagers-slider .ukr:hover, 
.switcher-languagers .ukr:hover {     
  font-family: "PT Sans", "Arial", sans-serif;
  /* font-weight: bold; */
  color: #2255FF;  
}

.switcher-languagers-our .eng:hover,
.switcher-languagers-decorative .eng:hover,
.switcher-languagers-ceramic .eng:hover,
.switcher-languagers-slider .eng:hover, 
.switcher-languagers .eng:hover {     
  font-family: "PT Sans", "Arial", sans-serif;
  /* font-weight: bold; */
  color: violet;    
}

/* **********************************Переключатели языков END************************************** */

.contact1-section img,
.contact2-section img,    
.contact3-section img {
  padding-top: 20px;
}

.contact3-section img {
  padding-top: 10px;
}
.contact2-section {
  margin-left: 50px;
  margin-right: 50px;
}

.contact2-section img,
.contact1-section img,
.contact3-section img,
.contact1-section p,
.contact2-section p,
.contact3-section p{
  margin-right: auto;
  margin-left: auto;
}

.contact-img {
  width: 30px;  
}

.contact-line {
  width: 80px;
  height: 5px;
  background-color: rgba(110,200,150);     
}
/******************Блок КОНТАКТЫ END *******************/


 /******************Блок МЕНЮ START *******************/
a {
  color: #FFF; 
}

.d-flex {
  display: flex;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.container {
  margin: 0 auto;  
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.header-title-info {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 200px;
  font-size: 26px;
  max-width: 540px;
  line-height: 30px;
}

.text-uppercase {
  text-transform: uppercase;
}

.my-0 {
  margin-top: 100px;
  margin-bottom: 50px;
}

nav {
  background-color: rgba(60,75,99,1);
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
  
nav ul li {
  display:inline-block;
  background-color:rgba(60,75,99,1);
}

nav a {
  display:block;
  padding:0 10px; 
  color:#FFF;
  font-size:18px;
  line-height: 45px;
  text-decoration:none;
}

nav a:hover { 
  background-color:rgba(0,0,0,0.1);
  color: rgba(255,255,255,0.70);
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute; 
  top: 40px; /* the height of the main nav если Больше появляется отступ и не работает */
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
  z-index: 1;  
}
  
/* Ширина выпадающего меню */
nav ul ul li {  
  float: none;
  display:list-item;
  position: relative;  
}

.header-nav-list-our,
.header-nav-list-ceramic,
.header-nav-list-decorative {  
  display: flex;
  justify-content: center;
}


/* Change this in order to change the Dropdown symbol */
/*li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }*/


/******************Блок МЕНЮ END *******************/

/******************Блок Our Development START *******************/
.our-block {
  display: flex;
  justify-content: space-between;
}

.our-info {
  background-color: rgba(10,70,70,0.8);    
  border-bottom: solid 4px rgba(110,200,150);
  border-radius: 25px;
  line-height: 3px;
  color: white;
  font-family: "Courier New", Arial, sans-serif;  
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.5));
}

.our-block-img {
  border-radius: 10px;
}

.our-block h4 {
  margin-top: 170px;
  font-size: 32px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;    
} 

.our-info2 {
  font-size: 22px;
  line-height: 34px;  
  text-align: center;
  font-family: "Courier New", Arial, sans-serif;
  margin-left: 15px;
  margin-right: 10px;
}

.our-dev {
  background-color: #DDD7D7;
  background-size: 50px 50px;
  background-image: 
  linear-gradient(-45deg, transparent 52%, rgba(255,255,255,0.9) 54%, transparent 55%, transparent),
  linear-gradient(45deg, transparent 52%, rgba(255,255,255,0.6) 54%, transparent 55%, transparent),
  linear-gradient(-45deg, transparent 50%, rgba(0,0,0,0.1) 52%, transparent 53%, transparent),
  linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.05) 52%, transparent 53%, transparent);  
}

/******************Блок Our Development END *******************/


/******************Блок Ceramic Tile START *******************/
.our-info-ceramic {
  color: rgba(150,255,255);
}

.decorative-block-center {
  display:grid;  
  justify-content: center;  
}

.decorative-block-center p {
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-decorative {
  font-size: 22px;
  line-height: 14px;  
  text-align: left; 
  margin-left: 20px;
}

.decorative-info {
  font-size: 22px;  
  text-align: center;
  line-height: 28px;  
}

.ceramic {
  background-color: white;
  background-image: 
  linear-gradient(white 25%, transparent 25%), 
  linear-gradient(90deg, white 25%, transparent 25%), 
  linear-gradient(transparent 75%, #d4d3d8 75%), 
  linear-gradient(90deg, transparent 75%, #eff0ea 75%), 
  linear-gradient(#eff0ea 50%, transparent 50%), 
  linear-gradient(90deg, #d4d3d8 50%, transparent 50%);
  background-size: 20px 20px;
}
/******************Блок Ceramic Tile END *******************/


/******************Блок Decorative Brick START *******************/
.decorative-tile-info {
  color: rgba(210,210,120);
}

.footer-info-decorative {
  margin-top: 50px;  
}

.decorative {
  background: 
  radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, white 30%, white 40%, transparent 90%), 
  radial-gradient(ellipse farthest-corner at 0 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), 
  radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), linear-gradient(40deg, #AC394A 0%, #DC625F 30%, #EB7D5C 50%, #DC625F 70%, #AC394A 100%);
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
}
/******************Блок Decorative Brick END *******************/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.no-show {
  display: none;
}


/*background-color: #EEE2DB;
background-image:
linear-gradient(45deg,#ECD9D3 25%, transparent 25%, transparent 75%, #EBC4B8 75%),
linear-gradient(-45deg,#ECA797 25%, transparent 25%, transparent 75%, #E98A74 75%);
background-position: 0 0, 1em 1em;
background-size: 2em 2em, 2em 2em;
}*/

/*background: 
radial-gradient(ellipse farthest-corner, transparent 0%, transparent 35%, white 30%, white 40%, transparent 90%), 
radial-gradient(ellipse farthest-corner at 0 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), 
radial-gradient(ellipse farthest-corner at 8px 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), radial-gradient(ellipse farthest-corner at 0 8px, transparent 0%, transparent 20%, white 15%, white 20%, transparent 40%), radial-gradient(ellipse farthest-corner at 8px 0, transparent 0%, transparent 20%, white 15%, white 20%, transparent 50%), linear-gradient(40deg, #AC394A 0%, #DC625F 30%, #EB7D5C 50%, #DC625F 70%, #AC394A 100%);
background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;*/

/*background: 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px -37px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 111px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 37px 37px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 0px, 
linear-gradient(135deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px, 
linear-gradient(225deg, transparent 24.5%, #449CB4 24.6%, transparent 24.8%) 74px 74px;
background-size: 148px 148px;
background-color: #E8F4F2;*/